<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Display Of Registration</title>
</head>
<body>
	<table border="1">
		<tr>
			<thead>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email id</th>
				<th>Phone no</th>
				<th>Gender</th>
				<th>Adress</th>
				<th>Languages Known</th>
			</thead>
		</tr>
		<tr>
			<tbody>
				<td> {{firstname}} </td>
				<td> {{lastname}} </td>
				<td> {{email}} </td>
				<td> {{phoneno}} </td>
				<td> {{gender}} </td>
				<td> {{address}} </td>
				<td> {{language}} </td>
			</tbody>
		</tr>
	</table>
</body>
</html>